<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Register</title>
</head>
<body>
	<form action="/register" method="post">
		<input type="text" name="email"/><br/>
		<input type="text" name="password"/><br/>
		<button type='submit'>submit</button>
	</form>
	<%if(err){%>
	<h1>Sorry signup failed</h1>
	<%}%>
	<%if(succ){%>
	<h1>Thank you for signup</h1>
	<%}%>
</body>
</html>